
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js" integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="/stylesheets/style.css">

<div class="container-fluid p-0">
    <div class="row text-center">
        <div class="col-md-4 col-sm-12">
            <h5>KOLABORASI BERSAMA</h5>
            <br>
            <style>
                a{
                    text-decoration: none;
                }
            </style>
            <a href="https://kupangkota.bps.go.id">
                <img src="/images/310px-Lambang_Badan_Pusat_Statistik_(BPS)_Indonesia.svg.png" alt="" width="70px" height="60px">
            </a>
            <a href="">
                <img src="/images/489px-LOGO_KOTA_KUPANG (1 300x300).png" alt="" width="72px" height="70px">
            </a>
            <a href="https://undana.ac.id">
                <img src="/images/Logo_Undana (1).png" alt="" width="70px" height="70px">    
            </a>
            <br><br>
        </div>
        <div class="col-md-4 col-sm-12">
            <h5>HUBUNGI KAMI</h5>
            <br><br>
            <p> <i class="fa-solid fa-phone"></i>    0852 3456 7890</p>
            <p> <i class="fa-solid fa-envelope"></i>    kelfontein@kupangkota.go.id</p>
            <p> <a href="https://goo.gl/maps/ve8swGKuzcD2PU6AA" target="_blank" style="text-decoration: none; color: inherit;"><i class="fa-solid fa-map-pin"></i>    Jl. Moch Hatta No.19, Fontein, Kec. Oebobo
                Kota Kupang, Nusa Tenggara Timur</p></a>
                <br> <br>
        </div>
        <div class="col-md-4 col-sm-12">
            <h5>SOSIAL MEDIA</h5>
            <br> <br>
            <p> <i class="fa-brands fa-whatsapp"></i> WhatsApp </p>
            <p> <i class="fa-brands fa-facebook"></i> Facebook</p>
            <p> <i class="fa-brands fa-instagram"></i> Instagram</p>
        </div>
    </div>
</div>