@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;700;800&family=Inter:wght@100;400;700;900&display=swap');


*{
    box-sizing: border-box;
}

header,section{
    overflow-x: hidden;
}

:root{
    font-family: "Inter", sans-serif;
    font-family: "Barlow";



    --navbarcolor: #ffecab;
    --footercolor : #2b2e7f;

}

/** HEADER Style**/

header .navbar-placeholder{
    overflow: visible;
}
header{
    overflow: visible;
}

/* PETA */
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 2em;
}